<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>


<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->
  

  <!-- NAVBAR -->
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center fixed-top">
	<div class="container d-flex align-items-center justify-content-between">
  
	  <div class="logo">
		<!-- <h1><a href="index.html">JobApp<span>200</span></a></h1> -->
		<!-- Uncomment below if you prefer to use an image logo -->
		<a href="#"><img src="static/images/job app 200-transparent.png" alt="" class="img-fluid"></a>
	  </div>
  
	  <nav id="navbar" class="navbar">
		<ul>
			{% if 'home' in request.path %}
			<li><a class="nav-link scrollto active" href="#hero">Home</a></li>
			<li><a class="nav-link scrollto" href="#about">About</a></li>
			<li><a class="nav-link scrollto" href="#home-section">Job Search</a></li>
			<li><a class="nav-link scrollto" href="#services">Stats</a></li>
			<li><a class="nav-link scrollto" href="#team">Team</a></li>
			<li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
			<li><a class="nav-link scrollto" href="#contact">Contact</a></li>
			{% else %}
			<li><a class="nav-link scrollto active" href="{% url 'jobapp:home' %}">Home</a></li>
			{% endif %}

			{% if user.is_authenticated and user.role == 'employer'  %}
			<li>
				<a href="{% url 'jobapp:create-job' %}" class="">
					<span class="mr-2 icon-add"></span>
					Publish Job
				</a>
			</li>

			<li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
				<ul>
					<li><a href="{% url 'jobapp:dashboard' %}">Dashboard</a></li>
					<li><a href="{% url 'account:logout' %}">Logout</a></li>
				</ul>
			</li>
			{% elif user.is_authenticated %}
			<li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
				<ul>
				<li><a href="{% url 'account:edit-profile' request.user.id %}">Edit Profile</a></li>
				</ul>
			</li>

			<li class="dropdown"><a href="#"><span>Dashboard</span> <i class="bi bi-chevron-down"></i></a>
				<ul>
					<li><a href="{% url 'jobapp:dashboard' %}">Dashboard</a></li>
					<li><a href="{% url 'account:logout' %}">Logout</a></li>
				</ul>
			</li>

			<!-- <a href="{% url 'account:logout' %}"
			class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
				class="mr-2 icon-lock_outline"></span>Log Out</a> -->
			{% else %}
			<li class="dropdown"><a href="#"><span>Register</span> <i class="bi bi-chevron-down"></i></a>
				<ul>
				<li><a href="{% url 'account:employee-registration' %}">Job Seeker</a></li>
				<li><a href="{% url 'account:employer-registration' %}">Job Provider</a></li>
				</ul>
			</li>
			<li><a class="nav-link scrollto" href="{% url 'account:login' %}">Login</a></li>
			{% endif %}
		</ul>
		<i class="bi bi-list mobile-nav-toggle"></i>
	  </nav><!-- .navbar -->
  
	</div>
</header><!-- End Header -->

  
